* {
    border: none;
    border-radius: 15px;
    font-family: "Roboto Mono Medium";
    background-color: rgba(0, 0, 0, 0.0);
    color: white;

    /* adjust font-size value to your liking: */
    font-size: 15px;
    min-height: 0;
    
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.5
    );

    /*color: #000000;*/
    transition-property: background-color;
    transition-duration: .5s;
    min-height: 32px;
}

#workspaces button {
    padding: 5 10px;
    background-color: transparent;
    color: rgba(0, 0, 0, 0);
    /* Use box-shadow instead of border so the text isn't offset */
    border-radius: 0px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0);
    box-shadow: inset 0 -2px #777777;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -2px #ffffff;
}

#workspaces button.visible {
    box-shadow: inset 0 -2px #ffffff;
}

#workspaces button.urgent {
    box-shadow: inset 0 -2px #eb4d4b;
}

#clock,
#battery,
#cpu,
#memory,
#pulseaudio,
#backlight,
#tray,
#pulseaudio,
#backlight,
#idle_inhibitor {
    padding: 2px 10px;
    margin: 7px 3px;
}

/* If workspaces is the leftmost module, omit left margin
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}*/

/* If workspaces is the rightmost module, omit right margin*/
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#idle_inhibitor {
    /* background-color: #2d3436; */
    background-color: white;
    color: black;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#battery.charging {
    color: #ffffff;
    background-color: #3bce5b;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
}

#tray {
    /*background-color: #2d3436;*/
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
}

#tray * {
    font-size: 12px;
    color: #ffffff; /* White text */
    background-color: rgba(0, 0, 0, 0.0);
}
  
#tray *:hover {
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.0);
}
  
#tray *:hover * {
    font-size: 12px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}