* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Adwaita Mono;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(0, 0, 0, .8);
    border-radius: 0px;
    border: 0px solid white;
    padding: 0px;
    margin: 0px; /* Adds space around Waybar */
}

button {
    box-shadow: inset 0 0px transparent; /* Use box-shadow instead of border so the text isn't offset */
    border: none;
    border-radius: 0; /* Avoid rounded borders under each button name */
}

#workspaces button {
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
    border-radius: 0px;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;;
}

#workspaces button.urgent {
    color: #eb4d4b;
}

#clock,
#cpu,
#memory,
#battery,
#backlight,
#pulseaudio,
#custom-mpris,
#tray,
#idle_inhibitor,
#workspaces,
#power-profiles-daemon{
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 100px;
    border: 0px solid #ffffff;
}

#clock,
#cpu,
#memory,
#workspaces{
    padding: 5 0px;
    margin: 0px;
}

#clock,
#workspaces label{
    font-size: 18px;
}

#battery,
#backlight,
#pulseaudio,
#custom-mpris,
#idle_inhibitor,
#power-profiles-daemon{
    padding: 5 0px;
    margin: 0px;
}

#tray{
    padding: 10 0px;
}

#battery.warning {
color: orange;
}

#battery.critical {
color: red;
}

/* All workspace buttons default = gray */
#workspaces button {
    color: #888888;   /* light gray */
}

/* Active workspace = white */
#workspaces button.active {
    color: #ffffff;   /* white */
}

/* Urgent workspace = red (example) */
#workspaces button.urgent {
    color: #ff5555;
}
#window {
    padding: 0px;
    margin: 0px;
    color: white;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

label:focus {
    background-color: #000000;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#window {
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
}
